---

import Layout from '../layouts/main.astro';
import Content from '../content/figma2html.astro';


// Full Astro Component Syntax:
// https://docs.astro.build/basics/astro-components/
---

<Layout content="23333">
  <div class="grid place-items-center h-screen content-center">
    <!--<C/>-->
    <Content />
  </div>
</Layout>