@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .cc {
    @apply max-w-[1440px] mx-auto w-full
  }

  .cc-col {
    @apply flex flex-col gap-20 sm:gap-10
  }

  .xx {
    @apply sm:px-4 md:px-20 px-36
  }

  .t1 {
    @apply text-[52px] md:text-[36px] sm:text-[30px] sm:text-wrap text-shadow-title font-bold text-white
  }

  .t2 {
    @apply t1 text-[40px] md:text-[36px] sm:text-[28px]
  }

  .f-c {
    @apply flex flex-col
  }



}

body {
  font-family: 'Raleway';
}

.h-title {
  color: rgba(255,255,255,1);
  font-family: Racing Sans One;
  font-weight: Regular;
  font-size: 36px;
  text-align: center;
}